<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="static/js/client.js"></script>
</head>
<body class="container">

<main>
    <div class="jumbotron">
        <h1>What can a hack do to you?</h1>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>